/* index.css */
body {
  margin: 0;
  font-family: 'Helvetica', 'Arial', sans-serif;
  
  /* Usamos las variables de theme.css */
  background-color: var(--bg-primary);
  color: var(--text-primary);
  
  transition: background-color 0.3s ease, color 0.3s ease;
}

a {
  text-decoration: none;
  color: inherit;
}