.dashboard-container {
    display: flex;
    height: 100vh;
    background-color: #f3f4f6;
}

.sidebar {
    width: 250px;
    background-color: #1e3a8a; /* Azul Canaco */
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
    margin-top: 40px;
}

.sidebar nav li {
    margin-bottom: 20px;
}

.sidebar nav a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
}

.logout-btn {
    margin-top: auto; /* Lo empuja hasta abajo */
    padding: 10px;
    background-color: #ef4444;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.content {
    flex: 1;
    padding: 40px;
}

.stats-grid {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}

.stat-card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    text-align: center;
}