.contacto-banner-container {
  position: relative;
  width: 100%;
  height: 400px; /* Altura ajustada para ser un encabezado elegante */
}

.contacto-banner-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center top;
  z-index: 1;
}

.contacto-banner-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 50, 100, 0.4) 100%
  );
  z-index: 2;
}

.contacto-banner-content {
  position: absolute;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.contacto-banner-content h1 {
  font-family: "Raleway", sans-serif;
  font-size: 3.5rem;
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  margin: 0;
}
